
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Malienw Akilina - Réinitialisation du mot de passe</title>

    <!-- Bootstrap core CSS -->

    <style>
@media only screen and (max-width: 600px) {
	.main {
		width: 320px !important;
	}
	.top-image {
		width: 100% !important;
	}
	.inside-footer {
		width: 320px !important;
	}
	table[class="contenttable"] {
		width: 320px !important;
		text-align: left !important;
	}
	td[class="force-col"] {
		display: block !important;
	}
	td[class="rm-col"] {
		display: none !important;
	}
	.mt {
		margin-top: 15px !important;
	}
	*[class].width300 {
		width: 255px !important;
	}
	*[class].block {
		display: block !important;
	}
	*[class].blockcol {
		display: none !important;
	}
	.emailButton {
		width: 100% !important;
	}
	.emailButton a {
		display: block !important;
		font-size: 18px !important;
	}
}
</style>

</head>


<body link="#00a5b5" vlink="#00a5b5" alink="#00a5b5">

<table class=" main contenttable" align="center"
       style="font-weight: normal; border-collapse: collapse; border: 0; margin-left: auto; margin-right: auto; padding: 0; font-family: Arial, sans-serif; color: #555559; background-color: white; font-size: 16px; line-height: 26px; width: 600px;">
    <tr>
        <td class="border"
            style="border-collapse: collapse; border: 1px solid #eeeff0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;">
            <table
                    style="font-weight: normal; border-collapse: collapse; border: 0; margin: 0; padding: 0; font-family: Arial, sans-serif;">
                <!--<tr>-->
                <!--<td colspan="4" valign="top" class="image-section" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #00a5b5">-->
                <!--<a href="#"><img class="top-image" src="https://info.tenable.com/rs/tenable/images/tenable-white-email.png" style="line-height: 1;width: 600px;" alt="Tenable Network Security"></a>-->
                <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td valign="top" class="side title"
                        style="border-collapse: collapse; border: 0; margin: 0; padding: 20px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; vertical-align: top; background-color: white; border-top: none;">
                        <table
                                style="font-weight: normal; border-collapse: collapse; border: 0; margin: 0; padding: 0; font-family: Arial, sans-serif;">
                            <tr>
                                <td class="head-title"
                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 28px; line-height: 34px; font-weight: bold; text-align: center;">
                                    <div class="mktEditable" id="main_title">
                                        Votre Nouveau mot de passe
                                        <hr size="1" color="#eeeff0">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text"
                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;">
                                    <h4>
                                        Bonjour <span th:text="${user.username }"></span>,
                                    </h4>
                                    <div class="mktEditable" id="main_text">
                                        <p>
                                            Vous avez demandé une réinitialisation du mot de passe de votre compte, et nous avons traité votre demande.
                                        </p>

                                        <p>
                                            Veuillez voir ci-dessous pour récupérer votre nouveau mot de passe pour accéder à votre compte. Ce mot de passe
                                            ne doit etre communiquer à personne. Vous aurez bésoin de ces informations pour changer votre mot de passe. Merci
                                        </p>

                                        <p>Voici les informations sur votre compte :</p>
                                        <p>Username: <span th:text="${user.username}"></span></p>
                                        <p>Password: <span th:text="${password}"></span></p>

                                        <p>
                                            Si vous n'avez pas envoyé cette demande, veuillez nous contacter immédiatement.
                                        </p>

                                        <p>Cordialement,</p>
                                        <p>Abdoulaye Sy</p>
                                        <p>Administrateur de l'Application Malienw Akilina</p>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td
                                        style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px;">
                                    &nbsp;<br>
                                </td>
                            </tr>


                        </table>
                    </td>
                </tr>

                <tr>
                    <td valign="top" align="center"
                        style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;">
                        <table
                                style="font-weight: normal; border-collapse: collapse; border: 0; margin: 0; padding: 0; font-family: Arial, sans-serif;">
                            <tr>
                                <td align="center" valign="middle" class="social"
                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 10px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: center;">
                                    <table
                                            style="font-weight: normal; border-collapse: collapse; border: 0; margin: 0; padding: 0; font-family: Arial, sans-serif;">
                                        <tr>
                                            <td
                                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 5px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;"><a
                                                    href="https://www.tenable.com/blog"><img
                                                    src="https://info.tenable.com/rs/tenable/images/rss-teal.png"></a></td>
                                            <td
                                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 5px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;"><a
                                                    href="https://twitter.com/tenablesecurity"><img
                                                    src="https://info.tenable.com/rs/tenable/images/twitter-teal.png"></a></td>
                                            <td
                                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 5px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;"><a
                                                    href="https://www.facebook.com/Tenable.Inc"><img
                                                    src="https://info.tenable.com/rs/tenable/images/facebook-teal.png"></a></td>
                                            <td
                                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 5px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;"><a
                                                    href="https://www.youtube.com/tenablesecurity"><img
                                                    src="https://info.tenable.com/rs/tenable/images/youtube-teal.png"></a></td>
                                            <td
                                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 5px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;"><a
                                                    href="https://www.linkedin.com/company/tenable-network-security"><img
                                                    src="https://info.tenable.com/rs/tenable/images/linkedin-teal.png"></a></td>
                                            <td
                                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 5px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px;"><a
                                                    href="https://plus.google.com/107158297098429070217"><img
                                                    src="https://info.tenable.com/rs/tenable/images/google-teal.png"></a></td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr bgcolor="#fff" style="border-top: 4px solid #00a5b5;">
                    <td valign="top" class="footer"
                        style="border-collapse: collapse; border: 0; margin: 0; padding: 0; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; background: #fff; text-align: center;">
                        <table
                                style="font-weight: normal; border-collapse: collapse; border: 0; margin: 0; padding: 0; font-family: Arial, sans-serif;">
                            <tr>
                                <td class="inside-footer" align="center" valign="middle"
                                    style="border-collapse: collapse; border: 0; margin: 0; padding: 20px; -webkit-text-size-adjust: none; color: #555559; font-family: Arial, sans-serif; font-size: 12px; line-height: 16px; vertical-align: middle; text-align: center; width: 580px;">
                                    <div id="address" class="mktEditable">
                                        <b>Adresse: </b><br> Hamdallaye ACI<br>
                                        Avenue 500 <br> Bamako, BP00005<br> <a
                                            style="color: #00a5b5;"
                                            href="https://www.tenable.com/contact-tenable">Contact
                                        Us</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
